<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:api-gateway="http://www.mulesoft.org/schema/mule/api-gateway" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/api-gateway http://www.mulesoft.org/schema/mule/api-gateway/current/mule-api-gateway.xsd">
	<configuration-properties doc:name="Configuration properties" doc:id="381aac0f-6931-4dae-9e4e-f33d2dd62dfc" file="config.properties" />
	<api-gateway:autodiscovery apiId="${apiId}" doc:name="API Autodiscovery" doc:id="e99ea135-80ca-4780-ba51-2c44b7ff4931" flowRef="silverline-helloworld-eapi-main" />
</mule>
